<div class="content-header" n:block="header"></div>

<section class="content" n:block="content">
<div class="container-fluid row mt-5 pt-5">

	<div class="col-sm-4 offset-sm-4">

		<h1 class="font-weight-light" n:block="title">{_web.site.icon|noescape} {_web.site.name|noescape}</h1>
		<p class="lead">{_web.site.description|noescape}</p>

	</div>

</div>
</section>