<!DOCTYPE html>
<html dir="{_nette.site.dir}" lang="{_nette.site.lang}">
<head>

	<!-- browsers -->
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="cleartype" content="on">

	<!-- favicon -->
	<link type="image/x-icon" href="{$basePath}/favicon.ico" rel="shortcut icon">

	<!-- title -->
	<title n:snippet="title">{ifset title}{include title|stripHtml|trim} | {/ifset}{include appName|stripHtml|trim}</title>

	<!-- stylesheet -->
	{control tessa:css default |indent|trim}
	{ifset stylesheet}{include stylesheet}{/ifset}

</head>
<body class="skin-red" n:block="body">
<div class="wrapper">

	<a id="top" class="sr-only"><!-- top anchor --></a>

	<header class="main-header">

		<a class="logo" n:href=":Homepage:default">
			<span class="logo-mini">{_nette.site.icon|noescape}</span>
			<span class="logo-lg" n:block="appName">{_nette.site.icon|noescape} {_nette.site.name|noescape}</span>
		</a>

		<nav class="navbar navbar-static-top" role="navigation">
			<a href="#" class="sidebar-toggle visible-xs-block" data-toggle="push-menu" role="button">
				<i class="fas fa-fw fa-bars"></i>
				<span class="sr-only">{_nette.menu.toggle}</span>
			</a>
			<div class="navbar-custom-menu" n:if="isset($profile)">
				<ul class="nav navbar-nav">
					<li class="user user-menu">
						<a n:href=":Auth:profile">
							<img src="{$basePath}/images/avatar/default.png" class="user-image" alt="{$profile}">
							{$profile->getName()}
						</a>
					</li>
					<li><a n:href=":Auth:signOut">{_nette.page.auth-signout|noescape}</a></li>
				</ul>
			</div>
		</nav>

	</header>

	<aside class="main-sidebar">
	<section class="sidebar">

		<div class="user-panel" n:if="isset($profile)">
			<div class="pull-left image">
				<img src="{$basePath}/images/avatar/default.png" class="img-circle" alt="{$profile}">
			</div>
			<div class="pull-left info">
				<p>{$profile->getName()}</p>
				<em class="text-muted">{$profile->getEmail()|lower}</em>
			</div>
		</div>

		{block beforeMenu}{/block}
		{include ../components/mainmenu.latte}
		{include ../components/admin.latte}
		{block afterMenu}{/block}

	</section>
	</aside>

	<div class="content-wrapper" n:snippet="content">

		<div class="alerts no-print no-margin" n:snippet="flashMessages">
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} no-margin">
				<i class="fas {$flashIcon[$flash->type]} fa-fw"></i>
				{$flash->message|translate:$flash->params ?? []|noescape}
			</div>
		</div>

		<section class="content-header">
			<h1 n:block="title">{('nette.page.'.$pageName)|translate|noescape}</h1>
			{ifset breadcrumbs}{include breadcrumbs}{/ifset}
		</section>

		{include content|indent:3}

	</div>

	<footer class="main-footer no-print">
		<strong>{_nette.author.name} &copy; {date('Y')}</strong>
	</footer>

	<aside n:ifset="helpBlock" class="control-sidebar control-sidebar-dark">

		<a href="#" class="btn btn-link pull-right sidebar-toggle" data-toggle="control-sidebar">
			<i class="fas fa-fw fa-times"></i>
		</a>

		{include helpBlock|indent:2|trim}

	</aside>
	<div n:ifset="helpBlock" class="control-sidebar-bg"></div>

</div>

	<!-- javascript -->
	{control tessa:js default |indent|trim}
	{ifset javascript}{include javascript}{/ifset}

</body>
</html>
