<!DOCTYPE html>
<html dir="{_nette.site.dir}" lang="{_nette.site.lang}">
<head>

	<!-- browsers -->
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="cleartype" content="on">

	<!-- favicon -->
	<link type="image/x-icon" href="{$basePath}/favicon.ico" rel="shortcut icon">

	<!-- title -->
	<title n:snippet="title">{ifset title}{include title|stripHtml|trim} | {/ifset}{include appName|stripHtml|trim}</title>

	<!-- stylesheet -->
	{control tessa:css default |indent|trim}
	{ifset stylesheet}{include stylesheet}{/ifset}

</head>
<body class="hold-transition login-page" n:block="body">

	<a id="top" class="sr-only"><!-- top anchor --></a>

	<div class="login-box" n:snippet="content">

		<div class="login-logo" n:block="appName">
			<a class="logo" n:href=":Web:Home:default">{_nette.site.icon|noescape} {_nette.site.name|noescape}</a>
		</div>

		<div class="card">
		<div class="card-body login-card-body" n:block="contentWrapper">

			<section class="content-header p-0 pb-3" n:block="header">
				<h1 class="p-2 pt-0 border-bottom" n:block="title">{('nette.page.'.$pageName)|translate|noescape}</h1>
			</section>

			<div class="m-0" n:snippet="flashMessages">
				<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} no-margin">
					{$flash->message|translate:$flash->params ?? []|noescape}
				</div>
			</div>

			{include content|indent:3}

		</div>
		</div>

		<footer class="lockscreen-footer text-center text-muted no-print" n:block="footer">
			<strong>{_nette.author.name} &copy; {date('Y')}</strong>
		</footer>

	</div>

	<!-- javascript -->
	{control tessa:js default |indent|trim}
	{control tessa:js recaptcha |indent|trim}
	{ifset javascript}{include javascript}{/ifset}

</body>
</html>