<section class="login-box-body" n:block="content">

    <p>{_nette.message.error403-description}</p>
    <small>error {$code}</small>

    <br>
    <br>

    <a class="btn btn-primary" href="javascript: history.back();">{_nette.button.back|noescape}</a>
    <a class="btn btn-secondary" n:href=":Web:Home:default">{_nette.button.homepage|noescape}</a>

</section>
