{layout ./@layout.latte}
<section class="login-box-body" n:block="content">

    <div class="page-header no-margin-top">
        <h2 n:block="title" class="no-margin">{_nette.error.error404|noescape}</h2>
    </div>

    <p>{_nette.error.error404-description}</p>
    <p><a n:href=":Homepage:default">{_nette.error.homepage|noescape}</a></p>

    <small>error 404</small>

</section>
