<section class="login-box-body" n:block="content">

    <p>{_web.message.error405-description}</p>
    <small>error {$code}</small>

    <br>
    <br>

    <a class="btn btn-primary" href="javascript: history.back();">{_web.button.back|noescape}</a>
    <a class="btn btn-secondary" n:href=":Web:Home:default">{_web.button.homepage|noescape}</a>

</section>
