<section n:block="content">

	{control passwordForgotForm}

	<p class="m-0 mt-4"><a n:href="signIn">{_nette.message.goto-signIn}</a></p>
	<p class="m-0 mt-1"><a n:href="signUp">{_nette.message.goto-signUp}</a></p>

</section>
