<section n:block="content">

	{control signInForm}

	<p class="m-0 mt-4"><a n:href="passwordForgot">{_web.message.goto-passwordForgot}</a></p>
	<p class="m-0 mt-1"><a n:href="signUp">{_web.message.goto-signUp}</a></p>

</section>
