#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
includes:
	- config-params.neon
	- config-assets.neon
	- config-orm.neon


tracy:
	strictMode: %site.debug%
	showBar: true
	maxDepth: 6
	maxLength: 500

application:
	errorPresenter: Error
	scanDirs: no
	mapping:
		*: App\Modules\*Module\*Presenter

constants:
	LANG_DEFAULT: %site.lang%

php:
	date.timezone: Europe/Prague

di:
	debugger: %site.debug%

http:
	cookieSecure: auto
	frames: false

session:
	debugger: %site.debug%
	autoStart: smart
	expiration: 14 days
	savePath: %tempDir%/sessions
	cookieSamesite: true

mail:
	smtp: true
	host: %smtp.host%
	username: %smtp.username%
	password: %smtp.password%
	secure: %smtp.secure%

extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	translation: Contributte\Translation\DI\TranslationExtension
	mailing: Ublaboo\Mailing\DI\MailingExtension
	form: JuniWalk\Form\DI\FormExtension

services:
	security.userStorage: App\Security\UserStorage
	router: App\Routing\RouterFactory::createRouter
	authenticator: App\Security\Authenticator
	authorizator: App\Security\Authorizator
	htmlHelper: App\Tools\HtmlHelper

	# Managers
	- App\Managers\AccessManager
	- App\Managers\MessageManager
	- App\Managers\UserManager

	# DataGrids
	- App\DataGrids\Factory\UserGridFactory
	- App\DataGrids\Factory\UserParamGridFactory

	# Forms
	- App\Forms\Factory\AuthPasswordForgotFormFactory
	- App\Forms\Factory\AuthProfileFormFactory
	- App\Forms\Factory\AuthSignInFormFactory
	- App\Forms\Factory\AuthSignUpFormFactory
	- App\Forms\Factory\UserFormFactory


# Nette \ DI \ Decorator
decorator:
	App\DataGrids\AbstractGrid:
		setup: [setTranslator]

# Ublaboo \ Mailing
mailing:
	do: both
	mails: %emails%

# Contributte \ Console
console:
    name: %site.name%
    version: %site.version%
    catchExceptions: false
    autoExit: true
    url: %site.url%
    lazy: true

# Contributte \ Translation
translation:
	locales:
		default: %site.lang%
		whitelist: [cs]
		fallback: [%site.lang%]
	dirs: [%appDir%/../locale]
	localeResolvers:
		- Contributte\Translation\LocalesResolvers\Router
		- Contributte\Translation\LocalesResolvers\Parameter
		- Contributte\Translation\LocalesResolvers\Session
		- Contributte\Translation\LocalesResolvers\Header
