#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
extensions:
	migrations: Nettrine\Migrations\DI\MigrationsExtension

	dbal: Nettrine\DBAL\DI\DbalExtension
	orm: Nettrine\ORM\DI\OrmExtension
	orm.cache: Nettrine\Cache\DI\CacheExtension
	orm.console: Nettrine\ORM\DI\OrmConsoleExtension
	orm.attributes: Nettrine\ORM\DI\OrmAttributesExtension

services:
	- App\Entity\ParameterRepository
	- App\Entity\UserRepository


# Nettrine \ DBAL
dbal:
	debug:
		panel: %debugMode%
	connection:
		host: 127.0.0.1
		user: %db.user%
		password: %db.password%
		dbname: %db.name%
		driver: %db.driver%

# Nettrine \ ORM
orm:
	configuration:
		customStringFunctions:
			date_part: JuniWalk\Utils\ORM\Functions\DatePart
			date_trunc: JuniWalk\Utils\ORM\Functions\DateTrunc
			floor: JuniWalk\Utils\ORM\Functions\Floor
			unaccent: JuniWalk\Utils\ORM\Functions\Unaccent

# Nettrine \ Attributes
orm.attributes:
	mapping:
		App\Entity: %appDir%/Entity

# Nettrine \ Migrations
migrations:
	table: migrations
	column: version
	directory: %appDir%/../db
	namespace: Migrations
	versionsOrganization: year_and_month
