#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
extensions:
	annotations: Nettrine\Annotations\DI\AnnotationsExtension
	migrations: Nettrine\Migrations\DI\MigrationsExtension

	dbal: Nettrine\DBAL\DI\DbalExtension
	orm: Nettrine\ORM\DI\OrmExtension
	orm.cache: Nettrine\Cache\DI\CacheExtension
	orm.console: Nettrine\ORM\DI\OrmConsoleExtension
	orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension

services:
	- App\Entity\ParameterRepository
	- App\Entity\UserRepository


# Nettrine \ DBAL
dbal:
	debug:
		panel: %debugMode%
	connection:
		host: 127.0.0.1
		user: %db.user%
		password: %db.password%
		dbname: %db.name%
		driver: %db.driver%

# Nettrine \ ORM
orm:
	configuration:
		customStringFunctions:
			date_trunc: App\Entity\Functions\DateTrunc
			date_part: App\Entity\Functions\DatePart
			unaccent: App\Entity\Functions\Unaccent
			floor: App\Entity\Functions\Floor

# Nettrine \ ORM
orm.annotations:
	mapping:
		App\Entity: %appDir%/Entity

# Nettrine \ Migrations
migrations:
	table: migrations
	column: version
	directory: %appDir%/../db
	namespace: Migrations
	versionsOrganization: year_and_month
