#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
extensions:
	recaptcha: Contributte\ReCaptcha\DI\ReCaptchaExtension
	tessa: JuniWalk\Tessa\DI\TessaExtension

services:
	UrlFixerFilter:
		factory: JuniWalk\Tessa\Filters\UrlFixerFilter
		arguments: [%wwwDir%]

# Contributte \ reCAPTCHA
recaptcha:
	secretKey: %captcha.secret%
	siteKey: %captcha.site%

# JuniWalk \ Tessa
tessa:
	outputDir: %wwwDir%/static
	checkLastModified: true
	filters:
		- @UrlFixerFilter

	default:
		joinFiles: false
		assets:
			- %wwwDir%/../vendor/nasext/dependent-select-box/client-side/dependentSelectBox.js
			- %wwwDir%/vendor/source-sans-pro/source-sans-pro.css
			- %wwwDir%/vendor/@fortawesome/fontawesome-free/css/all.min.css
			- %wwwDir%/vendor/nette-forms/src/assets/netteForms.min.js
			- %wwwDir%/vendor/jquery/dist/jquery.min.js
			- %wwwDir%/vendor/naja/dist/Naja.min.js
			- %wwwDir%/vendor/popper.js/dist/umd/popper.min.js
			- %wwwDir%/vendor/bootstrap/dist/js/bootstrap.min.js
			- %wwwDir%/vendor/select2/dist/js/select2.min.js
			- %wwwDir%/vendor/select2/dist/css/select2.min.css
			- %wwwDir%/vendor/admin-lte/dist/css/adminlte.min.css
			- %wwwDir%/vendor/admin-lte/dist/js/adminlte.min.js
			- %wwwDir%/vendor/moment/min/moment.min.js
			- %wwwDir%/vendor/flatpickr/dist/flatpickr.min.css
			- %wwwDir%/vendor/flatpickr/dist/themes/material_blue.css
			- %wwwDir%/vendor/flatpickr/dist/flatpickr.min.js
			- %wwwDir%/vendor/flatpickr/dist/l10n/cs.js
			- %wwwDir%/vendor/ublaboo-datagrid/assets/datagrid.js
			- %wwwDir%/assets/style.css
			- %wwwDir%/assets/index.js

	frontpage:
		extend: default
		assets: []

	recaptcha:
		joinFiles: false
		assets:
			- https://www.google.com/recaptcha/api.js	# ?render=explicit
			- %wwwDir%/../vendor/contributte/recaptcha/assets/invisibleRecaptcha.min.js
