<section n:snippet="form">
<form n:name="form" class="widget-user-2">

	<div class="alerts text-left" n:if="$form->hasErrors()" n:snippet="errors">
		<div class="alert alert-danger" n:foreach="$form->getErrors() as $error">{$error}</div>
	</div>

	<div class="form-group text-center px-5 pb-2">
		<img n:img="$profile ? $profile->getImage()" class="img-fluid img-circle elevation-2 w-50" alt="{$profile}">
	</div>

	<div class="form-group">
		<label n:name="image" class="sr-only">{_web.user.image}</label>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-image fa-fw"></i></span>
			</div>
			<div class="custom-file">
				<input n:name="image" type="file" class="custom-file-input">
				<label class="custom-file-label" data-browse="{_web.general.browse}">{_web.user.image-select}</label>
			</div>
			<div class="input-group-append" n:if="$profile->hasImage()">
				<a class="btn btn-danger ajax" n:href="imageRemove!" data-confirm="{_web.message.confirm-imageRemove}">
					<i class="fas fa-times fa-fw"></i>
					<span class="sr-only">{_web.user.image-remove}</span>
				</a>
			</div>
		</div>
		<small class="form-text text-muted font-italic">{_web.user.image-help}</small>
	</div>

	<div class="form-group">
		<label n:name="name" class="control-label sr-only">{_web.user.name}</label>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-fw fa-id-card"></i></span>
			</div>
			<input type="text" n:name="name" class="form-control" placeholder="{_web.user.name}">
		</div>
	</div>

	<div class="form-group required">
		<label n:name="email" class="control-label sr-only">{_web.user.email}</label>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-fw fa-envelope"></i></span>
			</div>
			<input type="email" n:name="email" class="form-control" placeholder="{_web.user.email}">
			<div class="input-group-append" n:if="!$profile->isEmailActivated()">
				<a n:href="resendActivationEmail!" class="btn btn-warning ajax"><i class="fas fa-redo-alt fa-fw"></i></a>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label n:name="password" class="control-label sr-only">{_web.user.password-change}</label>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-fw fa-lock"></i></span>
			</div>
			<input type="password" n:name="password" class="form-control" placeholder="{_web.user.password-change}" autocomplete="new-password">
			<div class="input-group-append">
				<a class="btn btn-default" data-pwd-toggle="#{$form['password']->getHtmlId()}"><i class="fas fa-eye fa-fw"></i></a>
			</div>
		</div>
	</div>

	<div class="form-group">
		<button type="submit" n:name="submit" class="btn btn-primary">{_web.button.save|noescape}</button>
		<a href="{plink default}" class="btn btn-secondary">{_web.button.cancel|noescape}</a>
	</div>

	<script type="text/javascript" n:ifcontent n:inner-foreach="$form->getControls() as $input">
		{continueIf !$input->hasErrors()}
		document.getElementById({$input->getHtmlId()}).classList.add('is-invalid')
	</script>

</form>
</section>