<ul class="navbar-nav">

	<li n:class="nav-item, $presenter->isLinkCurrent(':Web:Home:*') ? active" n:if="$user->isAllowed('Web:Home', 'default')">
		<a class="nav-link" n:href=":Web:Home:default">{_nette.page.web-home-default|noescape}</a>
	</li>

</ul>