
#
# @copyright Design Point, s.r.o. (c) 2018
# @license   MIT License
#

passwordForgot:
	subject: 'Zapomenuté heslo'
	description: 'Byla vyvolána funkce zapomenutého hesla, níže je odkaz pro jeho změnu, platný po dobu 15 minut.'
	button: 'Zmenit heslo'

signUp:
	subject: 'Aktivovat účet'
	description: 'Už máte skoro hotovo, aktivujte svuj nový účet tlačítkem níže.'
	button: 'Aktivovat'
