
#
# @copyright Design Point, s.r.o. (c) 2018
# @license   MIT License
#

passwordForgot:
    subject: 'Zapomenuté heslo'
    description: 'Byla vyvolána funkce zapomenutého hesla, níže je odkaz pro jeho změnu, platný po dobu 15 minut.'
    button: 'Zmenit heslo'
    link-problem: 'Pokud vám nefunguje tlačítko pro změnu hesla, použíjte tento odkaz'

signUp:
    subject: 'Nová registrace'
    description: 'Váš nový účet byl vytvořen. Zde máte shrnutí použitých údajů.'
    button: 'Zobrazit profil'
    link-problem: 'Pokud vám nefunguje tlačítko pro zobrazení profilu, použíjte tento odkaz'
